* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * * * * MODALS * * * * * * * * * * * * * * * * * * * * */

.order-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    z-index: 10;
    opacity: 0;
}

.order-modal-bg {
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.order-modal-form {
    position: absolute;
    z-index: 12;
    max-width: 450px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.order-modal-form form {
    padding: 35px;
}

.order-modal.active {
    visibility: visible;
    opacity: 1;
}

.order-modal-form label {
    display: block;
    color: #009D00;
    font-weight: 700;
}

.order-modal-form input {
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin-bottom: 20px;
}

.order-modal-form textarea {
    resize: none;
    width: 100%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.order-modal-form h4 {
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.order-modal-form p {
    margin-bottom: 20px;
    text-align: center;
}

.order-modal-form button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.order-modal-close {
    position: absolute;
    top: -5px;
    right: 20px;
    font-size: 24px;
    color: #009D00;
}

/* * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.section-title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

/* * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * */

.btn-green {
    text-transform: uppercase;
    padding: 1em 2em;
    background: #75A445;
    border-radius: 2px;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-green:hover {
    background: rgb(99, 167, 31);
}

.btn-dark {
    padding: 1em 1.5em;
    text-transform: uppercase;
    font-size: 14px;
    background: #333333;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.btn-dark:hover {
    background: #272727;
}

.btn-bars {
    font-size: 24px;
    padding: 10px 0;
    display: none;
    float: left;
}

.btn-call {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
    filter: FlipH;
    -ms-filter: "FlipH";
    color: #333333;
}

.btn-green {
    background: #75A445;
}

.social-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar .social-buttons {
    display: none;
}

.social-buttons a {
    font-size: 26px;
    margin: 0 10px;
}

.social-buttons a i {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.navbar .social-buttons a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 10px 0;
}

.social-buttons i.fa-telegram,
.social-buttons i.fa-telegram {
    color: #139BD0;
}

.social-buttons i.fa-whatsapp,
.social-buttons i.fa-whatsapp {
    color: #009D00;
}

.social-buttons a:hover>i {
    color: #464646;
}

/*кнопка звонка*/

.callback-bt {
    background: #009D00;
    border: 2px solid #009D00;
    border-radius: 50%;
    -webkit-box-shadow: 0 8px 10px rgba(56, 253, 56, 0.3);
            box-shadow: 0 8px 10px rgba(56, 253, 56, 0.3);
    cursor: pointer;
    height: 68px;
    text-align: center;
    width: 68px;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 999;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
}

.callback-bt .text-call {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.callback-bt .text-call span {
    color: #009D00;
    opacity: 0;
    font-size: 0;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 10px;
}

.callback-bt:hover i {
    display: none;
}

.callback-bt:hover {
    z-index: 1;
    background: #fff;
    color: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.callback-bt:hover i {
    color: #38a3fd;
    font-size: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.callback-bt i {
    color: #fff;
    font-size: 34px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    line-height: 66px;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.callback-bt-2:hover {
    background: #009D00;
}

.callback-bt-2:hover i {
    display: block;
}

@-webkit-keyframes hoverWave {
    0% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 99, 0.3), 0 0 0 0 rgba(56, 253, 72, 0.2), 0 0 0 0 rgba(56, 253, 122, 0.2);
                box-shadow: 0 8px 10px rgba(56, 253, 99, 0.3), 0 0 0 0 rgba(56, 253, 72, 0.2), 0 0 0 0 rgba(56, 253, 122, 0.2)
    }

    40% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 15px rgba(79, 253, 56, 0.2), 0 0 0 0 rgba(62, 253, 56, 0.2);
                box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 15px rgba(79, 253, 56, 0.2), 0 0 0 0 rgba(62, 253, 56, 0.2)
    }

    80% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 56, 0), 0 0 0 26.7px rgba(56, 253, 99, 0.067);
                box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 56, 0), 0 0 0 26.7px rgba(56, 253, 99, 0.067)
    }

    100% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 105, 0), 0 0 0 40px rgba(56, 253, 89, 0);
                box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 105, 0), 0 0 0 40px rgba(56, 253, 89, 0)
    }
}

@keyframes hoverWave {
    0% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 99, 0.3), 0 0 0 0 rgba(56, 253, 72, 0.2), 0 0 0 0 rgba(56, 253, 122, 0.2);
                box-shadow: 0 8px 10px rgba(56, 253, 99, 0.3), 0 0 0 0 rgba(56, 253, 72, 0.2), 0 0 0 0 rgba(56, 253, 122, 0.2)
    }

    40% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 15px rgba(79, 253, 56, 0.2), 0 0 0 0 rgba(62, 253, 56, 0.2);
                box-shadow: 0 8px 10px rgba(56, 253, 66, 0.3), 0 0 0 15px rgba(79, 253, 56, 0.2), 0 0 0 0 rgba(62, 253, 56, 0.2)
    }

    80% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 56, 0), 0 0 0 26.7px rgba(56, 253, 99, 0.067);
                box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 56, 0), 0 0 0 26.7px rgba(56, 253, 99, 0.067)
    }

    100% {
        -webkit-box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 105, 0), 0 0 0 40px rgba(56, 253, 89, 0);
                box-shadow: 0 8px 10px rgba(56, 253, 72, 0.3), 0 0 0 30px rgba(56, 253, 105, 0), 0 0 0 40px rgba(56, 253, 89, 0)
    }
}


.callback-bt-2 {
    display: none;
}



/* * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * */

.header {
    background: #fff;
    z-index: 1;
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-actions {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.header-actions .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.schedule {
    font-size: 14px;
}

.daynight {
    color: #75A445;
    font-size: 18px;
    font-weight: 700;

}

.daynight i {
    font-size: 36px;
    display: block;
    float: left;
    margin-right: 5px;
}

.header-delivery {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-delivery i {
    font-size: 20px;
    display: block;
    float: left;
    margin-right: 5px;
    border: 1px solid #000;
    border-style: dashed;
    border-radius: 50%;
    padding: 10px;
}

.header-actions a {
    font-size: 16px;
    background: lightgray;
    text-align: center;
    color: gray;
    padding: 0.5em;
}

.header-email {
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

.header-tel {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}

.header .btn-order {
    margin: 15px 0 10px 0;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #fff;
}

.navbar {
    position: relative;
    background: #fff;
    z-index: 2;
}

.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    left: 0;
    padding: 0 15px;
    z-index: 2;
}

.navbar-sticky .menu {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.menu li,
.menu span,
.menu a {
    color: #333333;
}

.menu a,
.dropdown {
    padding: 1em;
    display: inline-block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.menu a:hover,
.dropdown:hover {
    color: #75A445;
}

.dropdown {
    cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    padding-top: 20px;
}

.dropdown-menu a {
    padding: 0.5em;
}

.hero {
    height: 400px;
    background: transparent;
    position: relative;
}

.hero img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.hero .owl-item {
    height: 400px;
}

.hero .owl-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: #fff;
    border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #75A445;
}


/* * * * * * * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * * * * */

.about {
    padding: 50px 0;
    text-align: center;
    background: #fff;
}

.about h2 {
    margin-bottom: 20px;
}

.about-slider {
    margin-top: 50px;
}

.about-slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-slider h3 {
    text-transform: uppercase;
}

.about-slide {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-slide-photo {
    height: 300px;
}

.about-slide-photo img {
    height: 300px;
    -o-object-fit: contain;
       object-fit: contain;
}

.about-slide p {
    text-transform: uppercase;
    font-size: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * ADVANTAGES * * * * * * * * * * * * * * * * * * * * */

.advantages {
    background: #75A445;
    color: #fff;
    padding: 50px 0;
}

.advantages .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-title h2 {
    text-transform: uppercase;
}

.advantages-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.advantages-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 15px;
}

.advantages-card-title {
    margin-bottom: 10px;
}

.advantages-info p {
    font-size: 14px;
}

.advantages .round-wrap {
    max-width: 100px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50%;
    background: #fff;
    color: #75A445;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * SHOWCASE * * * * * * * * * * * * * * * * * * * * */

.showcase {
    background: #f1f4f6;
    padding: 50px 0;
}

.showcase h2 {
    color: #333333;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 40px;
}

.showcase-card {
    background: #fff;
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
    margin: 20px 5px;
    text-align: center;
}

.showcase .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.showcase-photo img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.showcase-info {
    padding: 15px;
}

.showcase-info h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.showcase-card li {
    font-size: 14px;
}

.showcase .btn-dark {
    text-align: center;
    margin: 0 auto;
    width: 180px;
    display: block;
    margin-top: 40px;
}

.showcase-card .btn-green {
    margin-bottom: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * HOW WE WORK * * * * * * * * * * * * * * * * * * * * */

.how-we-work {
    color: #000;
    padding: 50px 0;
    background: #f1f4f6;
}

.how-we-work h2 {
    margin-bottom: 50px;
}

.how-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.how-card {
    padding: 15px 30px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.how-card span {
    font-size: 28px;
    font-weight: 700;
}

.how-card h4 {
    margin: 10px 0;
    font-size: 20px;
}

.how-card .round-wrap {
    max-width: 70px;
    min-width: 70px;
    height: 70px;
    background: #161418;
    color: #fff;
    border-radius: 50px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;

}

/* * * * * * * * * * * * * * * * * * * * * FOOTER * * * * * * * * * * * * * * * * * * * * */

.footer {
    margin-top: -2px;
    background: #161418;
    min-height: 220px;
}

.footer * {
    color: #908f91;
}

.menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.menu-footer a,
.footer-dropdown {
    padding: 1em;
    display: inline-block;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transition: 0.2s;
}

.footer-dropdown {
    cursor: pointer;
}

.footer-dropdown:hover>.footer-dropdown-menu {
    display: block;
}

.footer-dropdown-menu {
    display: none;
    position: absolute;
    background: #161418;
    border-radius: 4px;
    padding: 10px 15px;
    padding-top: 20px;
}

.footer-dropdown-menu a {
    padding: 0.5em;

}

.menu-footer a:hover {
    color: #fff;
}

.footer-logo {
    margin-top: 20px;
    width: 150px;
}

.footer-logo img {
    width: 100%;
}

.footer-copyright {
    margin: 20px 0;
}

/* * * * * * * * * * * * * * * * * * * * * CATEGORY -> GARBAGE BAGS * * * * * * * * * * * * * * * * * * * * */

.category-info {
    padding: 40px 0;
}

.category-info .section-title {
    margin-bottom: 40px;
}

/* * * * * * * * * * * * * * * * * * * * * CATEGORY -> SCOTCH-VALVE-BAGS * * * * * * * * * * * * * * * * * * * * */

.showcase-category {
    background: #f1f4f6;
    padding: 20px 0;
}

.showcase-category .tab-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.showcase-price {
    color: #75A445;
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}

.showcase-category .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
}

.showcase-category .tab {
    font-size: 20px;
    border-bottom: 1px;
    padding: 1em;
    margin: 0 25px;
    color: gray;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.showcase-category .tab:hover {
    color: #333333;
}

.showcase-category .tab.active {
    color: #333333;
    border-bottom: 1px solid #333333;
}

/* * * * * * * * * * * * * * * * * * * * * CATEGORY -> GRANULES * * * * * * * * * * * * * * * * * * * * */

.showcase-granules {
    background: #f1f4f6;
    padding: 50px 0;
}

.granules-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
}

.granules-photo {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    height: 350px;
}

.granules-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.granules-info {
    padding: 0 40px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}


.granules-name {
    font-size: 28px;
    font-weight: 700;
}

.granules-price {
    font-size: 22px;
    font-weight: 700;
    color: #75A445;
    margin: 10px 0;
}

.granules-card .btn-green {
    margin-top: 50px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
}

/* * * * * * * * * * * * * * * * * * * * * WEBUY PAGE * * * * * * * * * * * * * * * * * * * * */

.webuy {
    padding: 50px 0;
}

.webuy .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.webuy .section-title {
    margin-bottom: 30px;
}

.webuy-photo {
    margin-top: 30px;
}

.webuy-photo img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

/* * * * * * * * * * * * * * * * * * * * * COOPERATION * * * * * * * * * * * * * * * * * * * * */

.cooperation {
    padding: 50px 0;
}

.cooperation .section-title {
    margin-bottom: 40px;
}

.cooperation-form {
    background: #F0F0F0;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cooperation-form .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cooperation-form form {
    max-width: 600px;
    width: 100%;
}

.cooperation-form input {
    padding: 1.5em 1em;
    width: 100%;
    border: 1px solid #333333;
    margin: 10px 0 20px 0;
}

.cooperation-form label {
    font-size: 18px;
    font-weight: 700;
}

.cooperation-form .btn-dark {
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    display: block;
}


/* * * * * * * * * * * * * * * * * * * * * CONTACTS PAGE * * * * * * * * * * * * * * * * * * * * */

.contacts {
    padding: 50px 0;
}

.contacts .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts .section-title {
    margin-bottom: 50px;
}

.contacts-map {
    width: 50%;
}

.contacts-map iframe {
    border: none;
    width: 100%;
}

.contacts-form-section {
    background: url('../images/factory.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.contacts-form-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    min-height: 500px;
}

.contacts-form-text {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contacts-form-section h3 {
    font-size: 40px;
}

.contacts-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contacts-form form {
    background: rgba(240, 240, 240, 0.726);
    padding: 20px;
}

.contacts-form input {
    padding: 1em 2em;
    margin-bottom: 10px;
}

.contacts-form .btn-green {
    margin-top: 10px;
    width: 100%;
}

/* * * * * * * * * * * * * * * * * * * * * MEDIA QUERIES * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 1080px) {
    .granules-name {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .header-actions {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .factory-bg {
        height: 100%;
    }

    .granules-photo {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }

    .granules-info {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    .advantages .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .advantages-title,
    .advantages-card {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .advantages-cards {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .advantages-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .advantages-title {
        text-align: center;
    }

    .advantages .round-wrap {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 786px) {
    .menu {
        display: none;
        background: #fff;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .header-top .social-buttons {
        display: none;
    }

    .btn-bars {
        display: block;
    }

    .navbar .social-buttons {
        display: block;
    }

    .navbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .dropdown-menu {
        position: relative;
    }

    .dropdown:hover>.dropdown-menu {
        display: none;
    }

    .header-top .btn-green,
    .header-top .header-tel {
        display: none;
    }

    .header-top {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .how-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .showcase .wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .showcase-card {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        margin: 20px;
    }

    .menu-footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .showcase-category .tab {
        font-size: 16px;
        margin: 0;
        text-align: center;
    }

    .granules-card {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .granules-info {
        padding: 20px 0;
    }
}

@media screen and (max-width: 576px) {
    .callback-bt {
        bottom: 5%;
        display: none;
    }
    
    .callback-bt-2 {
        display: block;
    }
    .showcase-card {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .how-card {
        text-align: center;
    }

    .section-title {
        font-size: 22px;
    }

    .menu-footer li {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }

    .footer-dropdown:hover>.footer-dropdown-menu {
        display: none;
    }

    .footer-dropdown-menu {
        position: relative;
    }

    .granules-photo {
        height: 250px;
    }

    .granules-name {
        font-size: 22px;
    }

    .granules-card .btn-green {
        margin: auto;
        display: block;
        margin-top: 30px;
    }

    .contacts .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts-map {
        width: 100%;
        margin-top: 30px;
    }

    .contacts .section-title {
        margin-bottom: 30px;
    }

    .contacts-form-section .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contacts-form-text {
        text-align: center;
        padding: 50px 0;
    }

    .contacts-form-text h3 {
        font-size: 26px;
    }

    .contacts-form {
        margin-bottom: 50px;
    }

}